
html{
       font-size: 22px;
       }
body{
      background-color: black;
      color:whitesmoke;
    }
a{
       color: wheat;
}
a:visited{
       color:beige
}
a:hover, a:active{
    color:azure
}
table,tr,th,td{
       border:1px solid #eee;
       padding:0.5rem;
       border-collapse:collapse;
       /* border-collapse: separate; */

}